apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "algon.fullname" . }}
  labels:
    app: algon
    {{- include "algon.labels" . | nindent 4 }}
spec:
# {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
# {{- end }}  
  volumeClaimTemplates:
    - metadata:
        name: data-volume
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: {{ .Values.storage.size }}
  selector:
    matchLabels:
      app: algon
      {{- include "algon.selectorLabels" . | nindent 6 }}
  serviceName: algon
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        app: algon
        {{- include "algon.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: algon-configmap
      serviceAccountName: {{ include "algon.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      hostNetwork: true
      initContainers:
        - name: allow-data-writes
          image: alpine
          command:
          - chown
          - -R
          - 10001:10001
          - /algorand/node/data
          volumeMounts:
          - name: data-volume
            mountPath: /algorand/node/data
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["sh", "-c", "./start_all.sh"]
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 300
            periodSeconds: 60
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: ALGORAND_DATA
              value: /algorand/node/data
            - name: ALGORAND_NETWORK
              value:  {{ .Values.algorand.network }}
          volumeMounts:
            - mountPath: "/algorand/node/data"
              name: data-volume
            - mountPath: /algorand/node/data/config.json
              subPath: config.json
              name: config-volume
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
